/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* the * means that this is targeting the whole page */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p { 
  color: rgb(85,85,85);
}

/* TRANSITION */

a, 
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh; /*this means that nav its taking up 17% of the view height*/
}

.nav-links {
  gap: 2rem; /*rem is unit of measurment in frontend dev*/
  list-style: none; /*removes the bulletpoints ir originally has*/
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 0.5rem; /*places a gap between the underline and the word*/
  text-decoration-color: rgb(181,181,181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

.header {
  display: flex;
  gap: 0.2rem;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none; /*so that when we are in desktop the hamburge does not show up*/
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span { /*styling lines of the hamburger*/
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px)
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, 5px)
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:last-child {
  transform: none;
}

/* SECTIONS */

/* refers to all sections */
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.circle-img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 8%;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  gap: 2rem;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  height: 2rem;
  cursor: pointer;
}

.icon-about {
  height: 2rem;
  cursor: pointer;
}

.icon-experience {
  height: 2rem;
  cursor: default;
}

.stay-black {
  filter: none;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  font-weight: 600;
  transition: all 300ms ease;
}

.btn-color-1, 
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
  background: rgb(53,53,53);
  color: white;
}

.btn-color-1:hover,
.btn-color-2:hover {
  background:#585c61;
  cursor: pointer;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.text-container {
  line-height: 2;
  letter-spacing: 0.3px;
  word-spacing: 0.2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(163, 163, 163) 0.1rem solid;
  border-color: rgb(163,163,163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title{ 
  color: rgb(85,85,85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 8%;
  margin-left: 8%;
}

.article-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}


/* PROJECTS SECTION */

#projects { 
  position: relative;
}

.color-container {
  border-color: rgb(163,163,163);
  background: rgb(250,250,250);
}

.project-img {
  width: 90%;
  height: 90%;
  border-radius: 2rem;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  border-color: black;
  border-color: rgb(163,163,163);
}

/* CONTACT SECTION */

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53,53,53) 0.1rem solid;
  border-color: rgb(163,163,163);
  padding: 0.5rem;
  margin: 2rem auto;
  gap: 1rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER */
footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

/* DARK MODE */

.darkmode-toggle {
  width: 0;
  height: 0;
  visibility: hidden;
}

.darkmode-toggle + label {
  width: 60px;
  height: 30px;
  display: block;
  top: 0.5rem;
  bottom: 0.5rem;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.4), inset 0 -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.darkmode-toggle + label:after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  background: linear-gradient(180deg, #d8860b);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: .3s;
}

.darkmode-toggle:checked + label {
  background: #242424;
}

.darkmode-toggle:checked + label:after {
  left: 57px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

label:active:after {
  width: 30px;
}

body.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

body.dark-mode a {
  color: white;
}

body.dark-mode p {
  color: #7a7f85;
}

body.dark-mode .icon {
  filter: brightness(0) invert(1);
}

body.dark-mode article {
  color: #4f4e4c;
}

body.dark-mode h3 {
  color: #4f4e4c;
}

body.dark-mode .hamburger-icon span {
  background-color: white;
}

body.dark-mode .menu-links a {
  color: white;
}

body.dark-mode .menu-links {
  background: black;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
